 /* ==========================================================================
	Global Styles & Reset
=========================================================================== */


html {
	font-size: 100% !important; //set 1rem = 16px
}


// overwrite fonts
body {
	font-size: 0.8667rem;
}

body,
input, 
textarea, 
select, 
button{
	font-family: $font-family !important;
	text-rendering: optimizeLegibility;
    letter-spacing: 0.25px;
}

