 /* ==========================================================================
	Styles for Login Pannel
=========================================================================== */

#header .logo {
    background-size: 185px;
    background-position: center;
    height: 100px;
}

#body-login {
	background: $primary-color;

	::placeholder {
		color: transparent;
	}

	#header {
	    padding-top: 0;

	    @media #{$medium-and-up} {
	    	padding-top: 100px;
	    }
	}

	.wrapper { 
		width: 100%; 
		padding: 0 1rem;
    	box-sizing: border-box;
    	margin: 0 auto -100px;

		@media screen and (max-width: 768px) {
	    	display: flex;
			justify-content:center;
			align-items:center;
			margin: 0 auto -110px;
		}
	}

	form {
		max-width: 100%;
		width: 100%;
		background-color: #fff;
		padding: 2rem 1.5rem 4.75rem 1.5rem;
		box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.25), 0 0px 75px 0 rgba(0, 0, 0, 0.35);
		box-sizing: border-box;

		@media #{$medium-and-up} {
			max-width: 475px;
			padding: 2.5rem 2.5rem 5rem 2.5rem;
			margin-top: 5rem;
		}

		fieldset { margin-bottom: 0; }

		.svg {
			top: 1rem;
			left: 0;
			opacity: 0.6;
			width: 20px;
			height: 20px;
		}
	}

	//reset
	%reset-inputs {
		font-size: 1rem;
		box-sizing: border-box; //maybe I should set this on *  … let's see
		display: block;
		float: none;
		border-radius: 0;
		margin: 0;
		width: 100% !important;
		box-shadow: none !important;
	}


	// SUBMIT BUTTON
	#submit.login {
		@extend %reset-inputs;
		color: #fff;
		margin-top: 4.5rem;
		padding: 1.25rem;
	    text-transform: uppercase;
	    letter-spacing: 3px;
	    width: 100%;
	}

	// INPUT FIELDS
	// with floating labels

	input[type="text"],
	input[type="password"] {
		@extend %reset-inputs;
		padding: 0.65rem 0.65rem 0.65rem 0 !important;
		border-bottom: 2px solid $primary-color;
		min-width: 0;

		&:focus,
		&:valid {
			border-color: lighten($primary-color, 35%);

			+ label {
				font-size: 0.75rem;
				transform: translate3d(0, -10px, 0);
			}
		}
	}

	input[type="text"] {
		margin-bottom: 2.75rem;

		//since first input field is focused by default, we can check after leaving focus if input is invalid and set a highlighting color
		&:not(:focus):invalid{
			border-color: red;
		}
	}

	label {
		position: absolute;
		transform: translate3d(0, 15px, 0);
		top: 0;
		left: 0;
		background: #fff;
		color: #ABA9AB;
		font-size: 0.85rem;
		font-weight: 300;
		display: block;
		cursor: auto;
		transform-style: preserve-3d;
    	transition: 0.2s ease-out;


		@media #{$medium-and-up} {
			transform: translate3d(0, 10px, 0);
			font-size: 1rem;
		}
	}	

	.warning, 
	.update, 
	.error {
		box-sizing: border-box;
		min-width: 80%;
		position: absolute;
	    bottom: -75px;
	    left: 50%;
	    transform: translateX(-50%);
	    font-size: .85rem;
	    text-align: center;
	    border-radius: 0;
	}

	p.info {
		width: 15em;
	    margin: 0 auto;
	    padding-top: 10px;
	    font-size: 0.75rem;
	    white-space: normal;
	}

	footer,  
	.push {
		height: 100px;
	}

	// // CHECKBOX - REMEMBER LOGIN
	// removed in oc 8.2
	// #remember_login {
	// 	margin: 2rem 1rem 1px 0px !important;
	// 	position: relative;
	// 	outline: 0;
	// 	-webkit-tap-highlight-color:rgba(0,0,0,0);

	// 	&:before {
	// 	    content: '';
	// 	    display: block;
	// 	    position: absolute;
	// 		border: 2px solid #ccc;
	// 	    cursor: pointer;
	// 	    height: 1rem;
	// 	    transition: all .15s ease;
	// 	    width: 1rem;
	// 	    z-index: 1;
	// 	    transform: rotate3d(0, 0, 1, 0);
	// 	}

	// 	&:after {
	// 	    content: '';
	// 	    display: block;
	// 	    position: absolute;
	// 	    background: #fff;
	// 	    height: 1rem;
	// 	    top: 0;
	// 	    width: 1rem;
	// 	    z-index: 0;
	// 	}

	// 	&:checked:before {
	// 	    border-color: green;
	// 	    border-top-style: none;
	// 	    border-right-style: none;
	// 	    height: 0.5rem;
	// 	    transform: rotate3d(0, 0, 1, -45deg);
	// 	}

	// 	+ label {
	// 		font-size: 1rem;
	// 		opacity: 1;
	// 		color: $text-color;
	// 		-webkit-tap-highlight-color:rgba(0,0,0,0);
	// 	}

	// 	&:hover + label { color: $text-color !important; }
	// }
}

