 /* ==========================================================================
	Styles for Login Pannel
=========================================================================== */


#body-login {
	background: $primary-color;

	.wrapper {
		width: 100%;
	}

	form {
		background-color: #fff;

		//testing purpose only

		@media #{$medium-and-up} {
			width: 32em;
		}
	
		max-width: 100%;
		padding: 2rem;

		.svg {
			top: 1rem;
			left: 0;
			opacity: 0.6;
			width: 20px;
			height: 20px;
		}
	}

	//reset
	%reset-inputs {
		font-size: 1rem;
		box-sizing: border-box; //maybe I should set this on *  … let's see
		display: block;
		float: none;
		border-radius: 0;
		margin: 0;
		width: 100% !important;
		box-shadow: none !important;
	}


	#submit.login {
		@extend %reset-inputs;
		color: #fff;
	}

	input[type="text"],
	input[type="password"] {
		@extend %reset-inputs;
		padding: 1rem 1rem 1rem 2.25rem !important;
		border-bottom: 2px solid $primary-color;

		&:focus {
			border-color: lighten($primary-color, 35%);
		}

	}

	input[type="text"] {
		margin-bottom: 2rem;
	}



}