 /* ==========================================================================
	Variables
=========================================================================== */

// FONT
$font-family: 'Poppins', sans-serif;

// COLORS
$text-color:	   #666666 !default;
$primary-color:    #1D2D44 !default;
$accents-color:    #00E5FF !default;
$background-color: #263238 !default;

// MEDIA QURIES
$small-screen-up: 	 330px !default;
$medium-screen-up: 	 768px !default;
$large-screen-up: 	1201px !default;

$small-and-up:	 	"only screen and (min-width : #{$small-screen-up})" !default;
$medium-and-up:	 	"only screen and (min-width : #{$medium-screen-up})" !default;
$large-and-up: 		"only screen and (min-width : #{$large-screen-up})" !default;
